{% extends 'auctions/layout.html' %} {%block title%} {{listing.title}}
{%endblock%} {% block body%}

<a href="{% url 'watchlist'%}">Watch List</a>
<img src="{{listing.image}}" alt="Image Not Available" />

<h1>{{listing.title}}</h1>
<h4>{{listing.description}}</h4>
<div>Current Price: {{current_price}}</div>
<div>By: {{listing.user}}</div>
<form action="{% url 'watchlistfunc' %}" method="post">
  {%csrf_token%}
  <input type="hidden" name="listing_id" value="{{ listing.id }}" />
  {% if not watchlist_status %}
  <input type="submit" value="Add to Watchlist" />
  {% else%}
  <input type="submit" value="Remove from Watchlist" />
  {%endif%}
</form>
{% if listing.active %}
<form action="{% url 'bid' %}" method="post">
  {%csrf_token%} {{ bidding_form }}<input type="submit" />
  <input type="hidden" name="listing_id" value="{{ listing.id }}" />
  <input type="hidden" name="user" value="{{ listing.user }}" />
</form>
{% else %}
<h4>Auction has been closed</h4>
{%endif%} {% if request.user == listing.user%}
<form action="{% url 'close_bid' %}" method="post">
  {% csrf_token %} <input type="submit" value="Close Bid" />
  <input type="hidden" name="listing_id" value="{{ listing.id }}" />
</form>
{% endif %} {% if request.user == winner_bid.user and not listing.active%}
<h1>Congratulation!!! You have won this auction.</h1>

{% endif %}
<form action="{%url 'comment' %}" method="post">
  {%csrf_token%} {{comments_form}}<input type="submit" />
  <input type="hidden" name="listing_id" value="{{ listing.id }}" />
</form>
{%for comment in comments%} {{ comment.comment }} {% endfor %} {%endblock %}
